<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto my-5">
      <h2>Change your Password?</h2>
      <br />
      <form action="/auth/change-password" method="post">
        <label for="change-password">Enter New Password</label>
        <input
          type="password"
          name="password"
          id="change-password"
          class="form-control"
        />
        <input type="hidden" name="forgotPasswordToken" value="<%= token %>">
        <br />
        <button class="btn btn-primary form-control" type="submit">
          Change
        </button>
      </form>
    </div>
  </div>
</div>
