<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto my-5">
            <h2>Forgot your Password?</h2>
            <br>
            <form action="/auth/forgot-password" method="post">
                <label for="forgot-password">Enter Your Email or Username</label>
            <input type="text" name="unameOrEmail" id="forgot-password" class="form-control">
            <br>
            <button class="btn btn-primary form-control" type="submit">Rest</button>
            </form>
        </div>
    </div>
</div>