<div class="dropdown mr-4">
  <button
    class="btn btn-secondary dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <%= authUser.name %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Setting</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</div>
